[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/tkancf/erblog
[submodule "themes/ggdgtheme"]
	path = themes/ggdgtheme
	url = https://github.com/tkancf/ggdgtheme
[submodule "themes/ggdg"]
	path = themes/ggdg
	url = https://github.com/tkancf/ggdg
