<section class="contaner centered">
  <ul>
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div>
    {{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <h5 class="title">Latest 7 Posts</h1>
    {{ range (.Paginator 7).Pages }}
    <li>
      {{ .Date.Format "January 2, 2006" }} | <a href="{{ .Permalink }}">{{ .Title }}</a>
      <div style="padding-left:2em;">
        {{ .Description }}
      </div>
    </li>
    {{ end }}
  </ul>
</section>
